{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}About the Data{% endblock %}

{% block heading %}About the Broadway Data{% endblock %}

{% block body %}
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found 
      <a href="https://corgis-edu.github.io/corgis/json/skyscrapers/">here</a>.  The data contain statistics about skyscrapers most notably when they were built 
	  .You see skyscrapers almost every especially when you are in big citys, they are used for everything weather its for retail,finance etc.
	  sky scrapers are known to be some of the biggest building to be built in modern time but what you dont relize is some of the skyscrapers you see are actually extremely old
	  so this website will teach you jyst how old.</p>
   
{% endblock %}